.select-button{
    padding:5px 20px;
    margin:0px 10px;
}
.select2-button{
    padding:5px 20px;
    margin:0px 10px;
}
.post-button{
    padding:5px 20px;
    margin:0px 10px;
}


.name{
margin-right: 20px;
}
.salary{
    margin-right: 20px;
}
.age{
    margin-right: 20px;
}
.info{
    display: inline-block;
    width: 30%;
    min-width: 30%;
    margin: auto;
}
.buttons-grp{
    display: inline-block;
    width: 30%;
}